.oneDetailWrapper {
  width: 100%;
  display: flex;
  box-shadow: 0 2px 1px 0px var(--slight-box-shadow);
  justify-content: space-evenly;
  border-bottom: 1px solid var(--secondary-color);
  padding: 5px 10px;
  transition: 300m;
  margin: 5px 0;
}

.oneDetailTitleContainer,
.oneDetailTextContainer {
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 2px 5px;
}

.oneDetailTitleContainer {
  position: relative;
  font-weight: 500;
}

/* .OneDetailTitleContainer::after {
  content: " ";
  position: absolute;
  width: 1px;
  height: 100%;
  right: 0;
  background-color: var(--secondary-color);
} */

.oneDetailText,
.oneDetailTitle {
  text-align: center;
}

@media (hover: hover) and (pointer: fine) {
  .oneDetailWrapper:hover {
    /* background-color: var(--slight-background-color); */
    box-shadow: 0 2px 1px 0px var(--secondary-color);
    transition: 500ms;
  }
}
