.svgWrapper {
  display: flex;
  margin: 5px auto;
}

.svgWrapper svg {
  width: 20px;
  height: 20px;
  margin: auto;
  fill: currentColor;
}

@media screen and (max-width: 800px) {
  .svgWrapper svg {
    width: 30px;
    height: 30px;
  }
}
