.main {
  display: flex;
}

.contentWrapper {
  margin-left: 10vw;
  width: 90vw;
}

@media screen and (max-width: 800px) {
  .main {
    flex-direction: column;
  }

  .contentWrapper {
    margin-left: 0;
    width: 100vw;
  }
}
